/* css styles */

.title {
  font-size: 90px !important;
  color: rgb(0, 0, 0) !important;
}

/*-- scss:defaults --*/
// Base document colors
$body-bg: #FFF1E0;
$body-color: #010101;
$link-color: #624912f5;

// Code blocks
$code-block-bg-alpha: -.9;

$font-family-sans-serif: "Georgia", serif;

$h1-font-size: 1em;
$h2-font-size: 1em;
$h3-font-size: 1em;